.button-primary {
    button {
        position: relative;
        height: 54px;
        min-width: 250px;
        padding: 0 30px;
        border: 0;
        outline: 0;
        vertical-align: middle;
        background: $orange;
        font-weight: bold;
        color: white;
        font-size: 16px;
        line-height: 1;
        border-radius: 4px;
        cursor: pointer;

        transition: background-color 0.2s ease-out;

        // transition: transform 0.1s ease-out;
        // transform: scale(1);

        &:hover {
            // transform: scale(1.05);
            background: $orangeHover;

            span {
                animation: arrowRight 0.3s ease-in-out;
            }
        }

        span {
            display: inline-block;
            width: 18px;
            height: 18px;
            background: url("../../img/ui/chevron-white.svg") no-repeat;
            background-size: contain;
            margin-left: 15px;
            margin-bottom: -2px;
        }

        // &:hover {
        // }

        @include lg {
            height: 60px;
            min-width: 250px;
            padding: 0 40px;
            font-size: 19px;

            span {
                width: 16px;
                height: 16px;
            }
        }
    }

    &.button-black {
        button {
            background: $black;

            &:hover {
                // transform: scale(1.05);
                background: $blackHover;
            }
        }
    }
}

// round, beige button with chevron
.chevron {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: $cream;
    border-radius: 50%;
    transition: background-color 0.2s ease-out;
    cursor: pointer;

    &.flipped {
        transform: rotate(180deg);
    }

    &::after {
        content: "";
        @include absoluteCover;
        background-size: contain;
        background: url("../../img/ui/chevron-black-circle.svg") no-repeat;
    }

    &:hover {
        background-color: $creamHover;
        &::after {
            animation: arrowRight 0.3s ease-in-out;
        }
    }

    @include md {
        width: 40px;
        height: 40px;
    }

    @include lg {
        width: 50px;
        height: 50px;
    }
}

.button-dropdown {
    button {
        cursor: pointer;
        background: $black;
        text-align: center;
        padding: 15px;
        border: 2px solid $white;
        border-radius: 4px;
        color: $white;
        font-size: 16px;
        width: 100%;
        @include flexCenter;

        span {
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../../img/ui/dropdown-arrow-01.svg");
            margin-left: 30px;
        }

        @include md {
            padding: 20px;
        }
    }
}
