.MeetTheChefs {
    background: url("../../img/backgrounds/texture-rough-paint.jpg");
    background-position: top;
    background-repeat: repeat;
    padding: 60px 0;
    margin: 0;

    &.no-background {
        background: transparent;
    }

    &.onSecretSuppersPage {
        // --
        // REVERSED OUT, white on black variation.
        // --
        background: url("../../img/backgrounds/texture-light-grey-conctere-wall.jpg")
            repeat top center;
        background-size: 500px 500px;
        padding: 120px 0;

        @include lg {
            padding: 180px 0;
        }

        h2 {
            color: $black;
        }

        .looking-for-a-ticket {
            h2 {
                color: $white;
            }
        }

        .black-background {
            background-color: rgba(255, 255, 255, 0.6);

            .copy {
                p {
                    color: $black;
                }
            }
        }
    }

    .container {
        padding: 40px 0 0 0;
    }

    .button-primary {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .copy {
        width: 100%;
        max-width: 720px;
        margin: 0 auto;
        text-align: center;
        color: white;
    }

    // ---------------
    .black-background {
        background: black;
        padding: 0 20px;
        margin: 80px 0;

        .content {
            position: relative;

            .chef-holder {
                width: 100%;
                top: -40px;
                position: relative;
                display: flex;
                flex-flow: column;
            }
        }
    }

    @include sm {
        .black-background {
            .content {
                position: relative;

                .chef-holder {
                    flex-flow: row;
                    justify-content: space-between;
                }
            }
        }
    }

    @include md {
        .black-background {
            padding: 0 40px;
        }

        .copy {
            padding: 30px 0;
        }
    }

    @include lg {
        padding: 120px 60px;

        .black-background {
            background: black;
            padding: 0 80px;
        }

        .black-background {
            padding: 0 80px;
            margin: 160px 0;

            .content {
                .chef-holder {
                    top: -80px;
                }

                .locations {
                    bottom: -80px;

                    .locations-list,
                    .locations-image {
                        width: 50%;
                    }

                    .locations-list {
                        position: relative;
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        padding: 20px;
                    }
                }
            }
        }
    }
}
// looking for a ticket
.looking-for-a-ticket {
    margin: 0 20px;
    // width: 100%;
    height: 320px;
    background: url("../../img/backgrounds/2019-06-20-Concrete-Playground-Red-Rock-Duncan-Kitti-Gould-3.jpg")
        no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
        background: rgba(0, 0, 0, 0.9);
        margin-top: 7%;
        padding: 30px;
        width: 65%;
        max-width: 420px;
        position: relative;

        .icon-ticket {
            position: absolute;
            width: 40px;
            height: 40px;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            background: url("../../img/icons/ticket.svg");
        }
    }

    @include md {
        margin: 0 40px;

        & > div {
            padding: 40px 50px;

            .icon-ticket {
                width: 50px;
                height: 50px;
                top: -25px;
            }
        }
    }

    @include lg {
        margin: 0 80px;
        h2 {
            font-size: 30px;
        }
    }
}

// Chef component
.Chef {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 20px;
    min-height: 280px;
    height: 60vw;
    max-height: 480px;
    display: flex;
    align-items: flex-end;

    &:last-child {
        margin-bottom: 0;
    }

    .chefName {
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        padding: 60px 20px 40px;
        width: 100%;

        display: flex;
        // display: flex;
        // justify-content: center;
        align-items: center;

        .chevron {
            margin-right: 10px;
            padding: 0;
        }

        h3 {
            font-size: 18px;
        }
    }

    @include sm {
        width: calc(50% - 10px);
        height: 33vw;
        margin-bottom: 0px;
    }
}

// Locations ---------------
.locations {
    background: $grey;
    display: flex;
    flex-flow: column;
    position: relative;
    bottom: -40px;

    .locations-image {
        height: 50vw;
        object-fit: cover;
    }

    .locations-list {
        position: relative;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: 40px 20px;

        .location {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            width: 100%;
            padding: 30px 5px;
            border-bottom: 1px solid $cream;

            &:first-child {
                border-top: 1px solid $cream;
            }

            h3,
            p,
            h5 {
                display: inline-block;
            }

            h3 {
                margin-right: 30px;
                margin-bottom: 10px;
            }

            .chevron-holder {
                @include flexCenter;

                .chevron {
                    margin-left: 20px;
                }
            }
        }
    }

    @include md {
        flex-flow: row;

        .locations-list,
        .locations-image {
            width: 50%;
        }

        .locations-image {
            max-height: 400px;
        }
    }
}
