// hero video / img
.SecretSuppers {
    margin: 0;
    // padding: 0;
    padding-top: 40px;
    width: 100%;
    min-height: 300px;
    position: relative;
    // overflow: hidden;
    background: black url("../../img/backgrounds/texture-rough-paint.jpg")
        repeat;
    background-size: 500px 500px;

    // ---------------
    .black-background {
        background: black;
        padding: 0 20px;
        margin: 0 auto;

        .image-holder {
            position: relative;
            width: 100%;
            max-width: 1120px;
            height: 60vw;
            max-height: 630px;
            top: 0px;
            margin-bottom: 0px;
            user-select: none;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            video {
                user-select: none;
                outline: 0;
                border: 0;
            }

            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                pointer-events: none;
                background: rgba(0, 0, 0, 0.1) url(../../img/icons/play.svg)
                    no-repeat center center;
                background-size: 50px 50px;
                transform: translateY(20px) scale(1);
                transition: all 0.2s ease-out;
                opacity: 0;

                content: " ";
            }

            &.is-not-playing {
                &::after {
                    transform: translateY(0px) scale(1);
                    opacity: 1;
                }

                &:hover {
                    &::after {
                        transform: translateY(0px) scale(1.1);
                    }
                }
            }
        }
    }

    @include md {
        .black-background {
            padding: 0 40px;

            .image-holder {
                top: 0px;
                margin-bottom: 0px;
            }
        }

        .copy {
            padding: 30px 0;
        }
    }

    @include lg {
        padding: 40px 0;

        .black-background {
            padding: 0 80px;
            margin: 80px auto;

            .image-holder {
                height: 50vw;
                top: 0px;
                margin-bottom: 0px;
            }
        }
    }

    .container {
        &.intro {
            margin-bottom: 0;
            padding-bottom: 20px;
        }

        .content {
            position: relative;

            .lockup {
                display: block;
                margin: 0 auto;
                width: 60%;
                max-width: 280px;
                margin-bottom: 20px;
            }

            .copy {
                position: relative;
                width: 100%;
                max-width: 700px;
                margin: auto;
                color: white;
                text-align: center;

                p,
                h2,
                h3 {
                    padding: 0 30px;
                    margin-bottom: 20px;
                }

                h2 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 24px;
                }

                @include lg {
                    h2 {
                        font-size: 40px;
                    }
                    h3 {
                        font-size: 30px;
                    }
                }
            }

            .enquiryForm {
                // padding-bottom: 20px;
                margin-bottom: 20px;
                padding-bottom: 10px;

                .form-group {
                    max-width: 330px;
                    margin: 0 auto;
                    margin-bottom: 60px;

                    .input-wrapper {
                        margin: 0;
                    }
                }

                .button-primary button {
                    min-width: 270px;
                    padding: 0;
                }
            }
        }
    }

    @include lg {
    }
}

.FeaturedVideoHolder {
    $videoHeightXSml: 300px;
    $videoHeightSml: 400px;
    $videoHeightMed: 500px;
    $videoHeightLrg: 640px;

    .background {
        position: relative;
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        margin-top: $videoHeightXSml * 0.5;

        &.wide {
            max-width: 100%;
        }

        &.black {
            background: $black;
        }

        > .container {
            padding: 0;
        }
    }

    .black {
        h3,
        h2,
        p {
            color: $white;
            margin-bottom: 20px;
        }

        .copy {
            text-align: center;

            p.large {
                max-width: 900px;
                margin: 0 auto 40px auto;
            }
        }

        .looking-for-a-ticket {
            position: relative;
            background: none;
            margin: 0;
            z-index: 5;
            display: block;
            height: auto;

            > div {
                width: 100%;
                max-width: 100%;
                text-align: center;
                position: relative;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                h2,
                p {
                    color: $white;
                    margin-bottom: 20px;
                }
                .button-primary {
                    position: relative;
                    margin: 0 auto;
                    bottom: -28px;
                }
            }

            width: calc(100% - 40px);
            max-width: 650px;
            margin: 0 auto;
        }
    }

    .video-holder {
        position: relative;
        top: $videoHeightXSml * -0.5;
        margin-bottom: $videoHeightXSml * -0.5;
        padding: 0 20px;

        video {
            width: 100%;
            height: $videoHeightXSml;
            object-fit: cover;
        }

        &.has-video {
            &::after {
                content: "";
                position: absolute;
                width: 60px;
                height: 60px;
                background: $black;
                border-radius: 50%;
                background-image: url(../../img/ui/icon-play-white.svg);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 24px 24px;
                left: 50%;
                top: 50%;
                transform: translate(-50% -50%);
            }
        }
    }

    @include sm {
        .background {
            margin-top: $videoHeightSml * 0.5;
        }

        .video-holder {
            top: $videoHeightSml * -0.5;
            margin-bottom: $videoHeightSml * -0.5;

            video {
                height: $videoHeightSml;
            }
        }
    }

    @include md {
        .container {
            padding-top: 0;
        }
        .background {
            margin-top: $videoHeightMed * 0.5;
        }

        .video-holder {
            top: $videoHeightMed * -0.5;
            margin-bottom: $videoHeightMed * -0.5;
            padding: 0 40px;

            video {
                height: $videoHeightMed;
            }
        }
    }

    @include lg {
        .container {
            padding-top: 0;
        }
        .background {
            margin-top: $videoHeightLrg * 0.5;
        }

        .video-holder {
            top: $videoHeightLrg * -0.5;
            // margin-bottom: $videoHeightLrg * -0.35;
            padding: 0 80px;

            video {
                height: $videoHeightLrg;
            }
        }
    }
}

.SecretSuppersCarousel {
    background: url("../../img/backgrounds/texture-light-grey-conctere-wall.jpg")
        repeat top center;
    background-size: 500px 500px;
    margin-bottom: 0;
    padding-top: 80px;

    @include lg {
        padding-top: 120px;
    }

    h2 {
        color: $black;
    }

    .content.intro {
        width: calc(100% - 80px);
        max-width: 680px;
        margin: 0 auto;
        text-align: center;
    }
}

.SecretSuppersPage {
    .ss-lockup-stacked {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
        max-width: 280px;
        top: 0;
    }

    .hidden {
        visibility: hidden;
    }

    .black-block {
        h3 {
            width: calc(100% - 80px);
            max-width: 650px;
            margin: 80px auto 0px auto;
        }
    }
}

// ------------------------------------------
// IMAGE SLIDER
.ImageSlider {
    position: relative;
    width: 100%;
    height: 220px;
    margin: 40px auto 0 auto;
    margin-bottom: 80px;
    overflow-x: hidden;

    @include md {
        overflow: visible;
    }

    @include lg {
        max-width: 1120px;
        margin: 0 auto 100px auto;
    }

    .controls {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
        pointer-events: none;

        > div {
            position: absolute;
            pointer-events: all;
            width: 80px;
            height: 100%;
            top: 0;
            @include flexCenter;

            &.disabled {
                display: none;
            }

            &.next {
                right: 0;
            }
            &.last {
                left: 0;
            }

            @include lg {
                &.next {
                    right: -80px;
                }
                &.last {
                    left: -80px;
                }
            }
        }
    }

    .slider-container {
        position: relative;
        width: 100%;
        height: 100%;
        min-width: 800px;
        margin: 0 auto;
        overflow-x: hidden;
        left: 50%;
        transform: translateX(-50%);

        .track {
            position: absolute;
            top: 0;
            left: 0;
            transition: transform 0.4s ease-in-out;

            > div {
                position: absolute;
                background-size: cover;
                width: 380px;
                height: 220px;
                float: left;
                margin-right: 20px;
            }
        }
    }
}
