.WideFooterImage {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50vw;
    min-height: 200px;
    max-height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
