// Font Stacks
$tradeGothic: "TradeGothic", Helvetica, sans-serif;
$roboto: "Roboto", Helvetica, sans-serif;

// Navigation / Header
$navHeight: 90px;
$navHeightMobile: 60px;
$logoWidth: 110px;

$containerPadding: 120px 80px;
$containerPaddingMobile: 40px 20px;

// Colors:
$black: black;
$blackHover: #111111;
$white: white;
$halfWhite: rgba(255, 255, 255, 0.5);
$threeQtrWhite: rgba(255, 255, 255, 0.75);

$cream: #c1b9ab;
$creamHover: #fff;
$orange: #cf4a21;
$orangeHover: #dd602b;
$grey: #131417;
$greyHover: #191a1e;
$lightgrey: #374048;
$lightgreyHover: #4d5760;
$midGrey: #4d5760;
$blue: #0052b1;

// ------------------------------
// Break Points
// -------------------------------
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;
