@use "utils/variables" as *;
@use "utils/functions" as *;
@use "utils/mixins" as *;
@use "utils/loading-animation" as *;

@use "base/reset";
@use "base/typography";

@use "components/buttons";
@use "components/hero";
@use "components/secret-suppers";
@use "components/event-info";
@use "components/meet-the-chefs";
@use "components/chef-bio";
@use "components/discover-the-range";
@use "components/where-to-buy";
@use "components/insta-feed";
@use "components/page-transition";
@use "components/navigation";
@use "components/wide-footer-image";
@use "components/footer";

@use "pages/legal_pages";
@use "pages/our_range";

@use "layout/grid";
@use "layout/forms";
@use "layout/error404";

body {
    margin: 0;
    background: $grey;
    scroll-behavior: smooth;
}

body,
* {
    box-sizing: border-box;
}

.wrapper {
    margin-top: 60px;
    background: $black;
    animation: fadeIn 0.5s ease-in;

    @include lg {
        margin-top: 90px;
    }

    .stone-wall-bakground {
        margin: 0;
        background: url("../img/backgrounds/texture-light-grey-conctere-wall.jpg") repeat top center;
        background-size: 500px 500px;
    }
}

.black-block {
    padding: 20px 0;
    width: 100%;
    background: $black;
    position: relative;
    color: white;
    text-align: center;

    h3 {
        font-size: 24px;
        line-height: 1.1;
    }

    .scroll-prompt {
        &:after {
            background: $black;
        }
    }

    @include lg {
        h3 {
            font-size: 30px;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}